.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cart{
  margin: 30px;
  border: 1px solid black;
  display: inline-block;
}

.left-cart img{
  background-color: #61dafb;
  height: 100px;
  width: 100px;
  margin:5px;
}

.cart-container{
  display: inline-flex;
}

.icons img{
  height: 13px;
  width: 13px;
  margin: 5px;
}

p{
  margin: 10px;
  margin-left: 16px;
}

.icons img:hover{
  transform: scale(1.2);
  box-shadow: 3px;
}

.icons{
  margin-top: 72px;
  margin-left: -17px;
  margin-right: 20px;
}