*{
    margin: 0px;
}

.header-div{
    width: 100%;
}

.login-page:hover{
    transform: scale(1.07);
}

.header-children img:hover{
    transform: scale(1.07);
}

.cart-icon{
    margin-left: 1vw !important;
    margin-top: -14px !important;
    color: white;
    font-size: 1.1rem !important;
    font-weight: 700 !important;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: #2874F0;
    height: 60px;
    position: sticky;
    width: 100%;
}

@media (min-width:300px){
    .header{
        height: 40px;
        width: 100% !important;
    }
    .header-image{
        margin: 14px !important;
        margin-left: 17px !important;
        margin-right: -12px !important;
        cursor: pointer;
        width: 53px !important;
    }
    .header-input{
        margin: 13px !important;
        width: 132px !important;
        margin-left: 10vw !important;
        height: 15px !important;
        border: 0px;
        font-size: xx-small;
    }
    .search-image{
        margin-left: -26px !important;
    color: #2874F0;
    cursor: pointer;
    width: 12px !important;
    height: 12px !important;
    margin-top: 15px !important;
    }
    .header-input::placeholder{
        font-size: 0.5rem;
    }
    .header-children{
        display: flex;
        margin-left: 6px !important;
    }

    .more-item{
        display: none;
    }
    
    .header-children h3{
        margin-left: 3vw !important;
    margin-top: 16px !important;
    color: rgb(104, 90, 90);
    /* font-weight: 500; */
    cursor: pointer;
    font-size: xx-small !important;
    }
    
    .cart-count{
        margin-left: -8px !important;
        display: inline-block;
        margin-top: 1px !important;
        margin-right: 1px !important;
        color: rgb(255, 255, 255) !important;
        font-weight: 500;
        cursor: pointer;
        z-index: 1;
    }
    
    .header-children img{
        width: 14px !important;
    height: 14px !important;
    margin-top: 16px !important;
    margin-left: 4vw !important;
    cursor: pointer;
    }

    
    .cart-icon h3{
        margin-left: 5px !important;
    margin-top: 13px !important;
    font-size: x-small !important;
    }

}

@media (min-width:450px){
    .header{
        height: 46px;
        width: 100% !important;
    }
    .header-image{
        margin: 16px;
        margin-left: 6vw!important;
        margin-right: -22px !important;
        cursor: pointer;
        width: 91px;
    }
    header-input{
        margin: 11px !important;
        width: 40vw !important;
        margin-left: 7vw !important;
        height: 20px !important;
        border: 0px;
        font-size: smaller;
    }
    .search-image{
        margin-left: -5vw !important;
    color: #2874F0;
    cursor: pointer;
    width: 14px !important;
    height: 14px !important;
    margin-top: 15px !important;
    }
    .header-input::placeholder{
        display: none;
    }
    .header-children{
        display: flex;
        margin-left: 7vw !important;
    }
    
    .header-children h3{
        margin-left: 4vw !important;
        margin-top: 16px;
        color: rgb(255, 255, 255);
        /* font-weight: 500; */
        cursor: pointer;
        font-weight: 700 !important;
        font-size: 0.8rem !important;
    }
    
    
    .cart-count{
        margin-left: -12px !important;
        display: inline-block;
        margin-top: 5px !important;
        margin-right: 1px !important;
        color: rgb(255, 255, 255) !important;
        font-weight: 700 !important;
        cursor: pointer;
        z-index: 1;
        font-size: 0.8rem;
    }
    
    .header-children img{
        width: 18px !important;
        height: 18px !important;
        margin-top: 17px !important;
        margin-left: 5vw !important ;
        cursor: pointer;
    }

    
    .cart-icon{
        margin-left: 1vw !important;
        margin-top: -15px !important;
        font-size: 0.9rem !important;
        font-weight: 500 !important;
    }
    
}


@media (min-width:768px){
    .header{
        height: 50px;
        width: 100% !important;
    }
    .header-image{
        margin: 16px;
        margin-left: 13vw!important;
        margin-right: -22px !important;
        cursor: pointer;
        width: 91px !important;
    }
    .header-input{
        margin: 12px !important;
        width: 35vw !important;
        margin-left: 4vw !important;
        height: 26px !important;
        border: 0px;
        font-size: smaller;
    }
    .search-image{
        margin-left: -4vw !important;
    color: #2874F0;
    cursor: pointer;
    width: 19px !important;
    height: 19px !important;
    margin-top: 16px !important;
    }
    .header-input::placeholder{
        font-size: 0.8rem;
    }
    .header-children{
        display: flex;
        margin-left: 5vw;
    }
    
    .header-children h3{
        margin-left: 4vw !important;
        margin-top: 16px;
        color: rgb(255, 255, 255);
        /* font-weight: 500; */
        cursor: pointer;
        font-weight: 700 !important;
    }
    
    
    .cart-count{
        margin-left: -14px !important;
        display: inline-block;
        margin-top: 2px !important;
        margin-right: 1px !important;
        color: rgb(255, 255, 255) !important;
        font-weight: 700 !important;
        cursor: pointer;
        z-index: 1;
        font-size: 1rem;
    }
    
    .header-children img{
        width: 22px !important;
        height: 22px !important;
        margin-top: 16px !important;
        margin-left: 5vw !important ;
        cursor: pointer;
    }

    
    .cart-icon{
        margin-left: 1vw !important;
        margin-top: -15px !important;
        font-size: 1rem !important;
        font-weight: 600 !important;
    }
    

}


@media (min-width:1000px){
    .header{
        height: 60px;
        width: 100% !important;
    }
    .header-image{
        margin: 16px;
        margin-left: 15vw!important;
        margin-right: -22px !important;
        cursor: pointer;
        width: 91px;
    }
    .header-input{
        margin: 16px !important;
        width: 31vw !important;
        margin-left: 4vw !important;
        height: 26px !important;
        border: 0px;
        font-size: 0.9rem;
    }
    .search-image{
        margin-left: -3vw !important;
    color: #2874F0;
    cursor: pointer;
    width: 19px !important;
    height: 19px !important;
    margin-top: 20px !important;
    }
    .header-input::placeholder{
        font-size: 0.8rem;
    }
    .header-children{
        display: flex;
        margin-left: 5vw;
    }
    
    .header-children h3{
        margin-left: 5vw !important;
        margin-top: 16px;
        color: rgb(255, 255, 255);
        /* font-weight: 500; */
        cursor: pointer;
        font-weight: 700 !important;
        font-size: 1.1rem !important;
    }
    
    
    .cart-count{
        margin-left: -14px !important;
        display: inline-block;
        margin-top: 2px !important;
        margin-right: 1px !important;
        color: rgb(255, 255, 255) !important;
        font-weight: 700 !important;
        cursor: pointer;
        z-index: 1;
        font-size: 1rem;
    }
    
    .header-children img{
        width: 24px !important;
        height: 22px !important;
        margin-top: 17px !important;
        margin-left: 5vw !important ;
        cursor: pointer;
    }

    
    .cart-icon{
        margin-left: 1vw !important;
        margin-top: -15px !important;
        font-size: 1.1rem !important;
        font-weight: 700 !important;
        margin-bottom: -10px !important;
    }
    
   
}

.header-image{
    margin: 14px;
    margin-left: 16vw;
    margin-right: -22px !important;
    cursor: pointer;
    width: 99px;
}

.header-input{
    margin: 13px;
    width: 400px;
    margin-left: 40px;
    height: 30px;
    border: 0px;
}

.header-input:focus{
    border: none;
}

.header-input::placeholder{
    text-align: left;

}

.search-image{
    margin-left: -37px ;
    color: #2874F0;
    cursor: pointer;
    width: 21px;
    height: 21px;
    margin-top: 17px;
    
}

.search-image:hover{
    transform: scale(1.2);
}


.header-children{
    display: flex;
    margin-left: 3vw;
}

.header-children h3{
    margin-left: 8vw;
    margin-top: 16px;
    color: rgb(255, 255, 255);
    /* font-weight: 500; */
    cursor: pointer;
}



.header-children img{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: -1px;
    cursor: pointer;

}


strong.cart-icon{
    margin-left: 1vw ;
    margin-top: 15px ;
    font-size: 1.1rem ;
    font-weight: 700 ;
}

